### Key Data Structures in Pandas
- Series (1D)
- Dataframe (2D)

In [2]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5], index=['a','b','c','d', 'e'])
s

In [ ]:
df = pd.DataFrame({
    "names": ["Peter", "King", "Bell"],
    "marks": [93, 95, 97],
})

In [ ]:
df = pd.read_csv("./demo_file.csv")
df

In [ ]:
df.head()
df.tail()
df.describe()
df.info()

### Data Selection

In [ ]:
df["Id"]

type(df["Id"])

df[["Id", "SepalLength"]]

df.iloc[0]
type(df.iloc[0])

In [ ]:
df2 = pd.read_csv('./demo_data.csv')

df2.dropna()

df2.fillna(0)

df2.describe()
df2.info()

df2["zeros"] = [0 for i in range(len(df2))]

In [11]:
df1 = pd.DataFrame({
    "name": ["Mike", "Peter", "Sid"],
    "marks": [100, 96, 88]
})

df2 = pd.DataFrame({
    "name": ["Mike","Aadi", "Beard", "Peter","Catty"],
    "marks": [80, 76, 78, 74, 87]
})

pd.concat([df1,df2])

pd.merge(df1,df2, on="name")

    name  marks_x  marks_y
0   Mike      100       80
1  Peter       96       74